@import "./variable.styl"
.fl
  float: left
.fr
  float: right

.none
  display: none
.block
  display: block

.inline-block
  display: inline-block
.mr10
  margin-right: 10px
.mt15
  margin-top: 15px

.red
  color: $color-red

.bg-white
  background: $color-white
.link-color-blue
  color: $color-blue