// 颜色定义规范
$color-red = #f56c6c
$color-blue = #409EFF
$color-dark-blue = #0076b4
$color-orange = #ff715c
$color-yellow = #f9c334
$color-green = #a5d865
$color-white = #ffffff
$color-black = #333333
$color-black-2 = #303133
$color-gray-ef = #efefef
$color-gray-99 = #999999
$color-gray-66 = #666666
$color-gray-c0c4cc = #c0c4cc
$color-gray-F9F9F9 = #F9F9F9
$color-gray-dddddd = #dddddd
$color-dfe8ed = #dfe8ed
$color-table-border = #ebeef5

